:root{
    --primary: #131c22 ;
    --secondary: #70ebf0 ;
    --accent: #f3a7e2 ;
    --light: #bec3f1 ;
    --dark: #e99c9c;
}

.bg-light{
     background-color: var(--light);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-secondary{
    background-color: var(--secondary);
}
.bg-accent{
    background-color: var(--accent);
}
.bg-dark{
    background-color: var(--dark);
}

.text-primary{
    color: var(--primary);
}
.text-accent{
    color: var(--accent);
}
.text-dark{
    color: var(--dark);
}
.text-light{
    color: var(--light);
}
.text-secondary{
    color: var(--secondary);
}

body{
    background: url(/image/pexels-johannes-plenio-1103970.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}
a{
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    background-color: #131c22;
    transition: 1.5s ease-in-out, white;
}
a:hover {
    color: rgb(0, 68, 255);
    text-decoration-line: none;
  }